.footer{
    height: 200px;
    background-color: rgba(12, 27, 51, .7);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column
}

.columnfoot{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: -25px 0 30px
}

.smallgit{
    width: 30px;
    border-radius: 75px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.linkedin{
    width: 35px;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.gh{
    margin: 0 -30px 60px 800px
}

.txt{
    color: #B1E5F2;
    text-align:center;
    cursor: pointer;
}
.footfoot{
    color: #B1E5F2;
    text-align:center;
}

@media screen and (max-width: 890px){
    .columnfoot{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .columnfoot{
        width: 65%
    }
}