@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.active{
    color: #FFC857;
    text-shadow: -1px -1px 0 #0C1B33, 1px -1px 0 #0C1B33, -1px 1px 0 #0C1B33, 1px 1px 0 #0C1B33;
}

a{
    text-decoration: none;
    color: #0C1B33;
    font-weight: bold;
    font-size: 22.5px;
    font-family: 'Dancing Script', cursive;
}

.links {
    display:flex;
    justify-content: space-around;
    width: 35%;
    align-items:center;
    margin-right: 20px;
    margin-top: -80px;
}
.name img{
    width: 15%;
    margin: 0px 100px;
    border-radius: 75px;
    cursor: pointer;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -300px;
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: #4B3F72;
    font-size: 36px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #FFC857, 1px -1px 0 #FFC, -1px 1px 0 #FFC, 1px 1px 0 #FFC857;
}

@media screen and (max-width: 1050px){
    .name img{
        width: 12%;
        margin: 0 70px;
    }
    .links{
        width: 50%;
        margin-top: 15px;
    }

    .title{
        top:-250px
    }
}

@media screen and (max-width: 890px){
    .links{
        width: 100%
    }
}

@media screen and (max-width: 700px){
    .links{
        width: 150%
    }
    .name img{
        width: 20%;
    }
}

@media screen and (max-width: 650px){
    .links{
        width: 225%
    }
    .name img{
        width: 27.5%;
    }
}

@media screen and (max-width: 425px){
    .links{
        width: 295%;
        justify-content: space-between;
    }
    .name img{
        margin-left: 50px;
        margin-right: 0;
        width: 30%;
    }
    a{
        font-size: 20px;
    }
}