@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Yellowtail&display=swap');
.projects{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
    margin-bottom: 100px
}

.proj{
    width: 40%;
    text-align: center;
    background: radial-gradient(circle, rgba(12,27,51,1) 38%, rgba(22,40,63,1) 51%, rgba(86,119,138,1) 67%, rgba(32,53,75,1) 67%, rgba(177,229,242,1) 72%, rgba(160,208,223,1) 83%, rgba(160,208,223,1) 92%, rgba(160,208,223,1) 97%, rgba(160,208,223,1) 98%);
    border-radius: 20px;
    padding: 3%;
    border: #B1E5F2 5px solid;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlez{
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: #FFC857;
    font-size: 36px;
    /* font-weight: bold; */
    text-shadow: -2px -2px 0 #4B3F72, 2px -2px 0 #6b5aa3, -2px 2px 0 #acadd1, 2px 2px 0 #4B3F72;
}

.hide{
    display: none
}
.proj2{
    width: 100%;
    border-radius: 25px;
    height: 40%;
    cursor: pointer;
}

.blockt{
    width: 75%;
    text-align: center
}
.schem{
    width: 50%
}
.codeStuff{
    display: flex;
    justify-content: space-around;
}
.codebuttons{
    cursor: pointer;
    font-size:20px;
    background-color: #0C1B33;
    color: #B1E5F2;
    padding: 10px;
    border-radius: 25px;
    width: 120px;
    font-weight: bold;
    border: solid 4px #B1E5F2;
    margin: 30px 
}

.codebuttons:hover{
    color: #0C1B33;
    /* background-color:#B1E5F2; */
}

.application:hover {
    color: #FFC857
}

.code{
    color: #FFC857
}
.code:hover{
    color: #0C1B33;
    background-color: #FFC857
}

.proj2:hover + .hide{
    display: block;
    color: red
}