.projects{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
    margin-bottom: 100px
}

.proj{
    width: 40%;
    text-align: center;
    background: radial-gradient(circle, rgba(75,63,114,0.9500175070028011) 29%, rgba(12,27,51,1) 88%);
    border-radius: 20px;
    padding: 3%;
    border: #B1E5F2 5px solid;
    color: white;
}

.titlez{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color: #B1E5F2;
    font-size: 36px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #FFC857, 1px -1px 0 #FFC, -1px 1px 0 #FFC, 1px 1px 0 #FFC857;
}

.hide{
    display: none
}
.proj2{
    width: 100%;
}
.schem{
    width: 50%
}
.codeStuff{
    display: flex;
    justify-content: space-around;
}
.codebuttons{
    cursor: pointer;
    font-size:20px;
    background-color: #0C1B33;
    color: #B1E5F2;
    padding: 10px;
    border-radius: 25px;
    width: 120px;
    font-weight: bold;
    border: solid 4px #B1E5F2
}

.codebuttons:hover{
    color: #0C1B33;
    background-color:#B1E5F2
}

.code{
    color: #FFC857
}
.code:hover{
    color: #0C1B33;
    background-color: #FFC857
}

.proj2:hover + .hide{
    display: block;
    color: red
}