.logo{
    width:240px;
    height: 230px;
    margin: -50px 50px 0 50px;
}

.express{
    height: 180px
}
.logodiv{
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 1300px){
    .logo{
        width: 180px;
        height: 200px;
    }
    .express{
        height: 160px;
    }
}

@media screen and (max-width: 1075px){
    .logo{
        width: 140px;
        height: 150px;
    }
    .express{
        height: 120px;
    }
}

@media screen and (max-width: 890px){
    .logo{
        width: 15%;
        height: 15%;
        margin: -70px 25px 0 25px
    }
    .express{
        height: 13%;
    }
}