
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
.logo{
    width:240px;
    height: 230px;
    margin: -50px 50px 0 50px;
    cursor: pointer;
}

.slack{
    width: 300px;
    height: 190px
}

.express{
    height: 180px
}

.logodiv{
    display: flex;
    justify-content: center;
    align-items:center; 
}

.first{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 125px 200px;
}
.second{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 150px 125px 200px;
}

.ptag{
    width: 30%;
    font-size: 23px;
    padding: 40px;
    font-family: 'Dosis', sans-serif;
    line-height:2;
}

.one{
    border-top: dotted 15px #B1E5F2;
    border-bottom: dotted 15px #0C1B33
}

.two{
    border-top: dotted 15px #0C1B33;
    border-bottom: dotted 15px #B1E5F2
}


@media screen and (max-width: 1300px){
    .logo{
        width: 180px;
        height: 200px;
        text-align:center;
    }
    .express{
        height: 160px;
    }
    .git{
        width: 210px;
        height: 180px;
    }
    .first{
        margin: 100px 60px;
        justify-content: space-between;
    }
    .ptag{
        width: 45%;
    }
    .slack{
        width: 240px;
        height: 160px
    }
}

@media screen and (max-width: 1075px){
    .logo{
        width: 140px;
        height: 140px;
    }
    .express{
        height: 120px;
    }
    .git{
        width: 210px;
        height: 180px;
    }
    .slack{
        height: 100px;
        width: 175px;
    }
    .first{
        margin: 100px 100px 0 100px;
    }
    .second{
        margin: 150px 100px 100px;
    }
}

@media screen and (max-width: 890px){
    .logo{
        width: 15%;
        height: 15%;
        margin: -70px 25px -20px 25px;
    }
    .express{
        height: 13%;
    }
    .git{
        width: 180px;
        height: 180px;
        margin: 30px;
    }
    .slack{
        height: 100px;
        width: 175px
    }
    .redux{
        height: 120px;
        width: 130px
    }
    .first{
        flex-direction: column-reverse;
    }
    .ptag{
        margin-top: 100px;
        width: 75%
    }
    .secblock{
        flex-direction:column-reverse;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 700px){
    .ptag{
        width: 90%
    }
}

@media screen and (max-width: 600px){
    .ptag{
        width: 97.5%
    }
}